<html>

<h2> Thank you for contributing to our blog!</h2>
<p><i> See your article below, and check back soon for the official post. </i><p>

<body>
<br>
<br>

<h3><%=@title%></h3>
<p><%=@content%></p>

</body>

</html>